body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 13px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  padding: 0;
  text-align: center;
  width: 34px;
  margin: 3px;
}

.selected, .square:hover {
  background: #00FFFF;
  color: #fff;
}

button:disabled{
  background: DarkGrey;
  color: #fff;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}


.nav {
  padding-left: 1em;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  background-color: orange;
}

.nav h1 {
  margin-bottom: 0;
  animation: burn 1s alternate linear infinite;
}

@keyframes burn {
  0% {
    transform: skew(-2deg, -2deg);
    color: black;
  }

  25% {
    transform: skew(-2deg, -2deg);
    color: red;
  }

  50% {
    transform: skew(0deg, 0deg);
    color: darkorange
  }

  75% {
    transform: skew(1deg, 1deg);
    color: lightblue;
  }

  100% {
    transform: skew(2deg, 2deg);
    color: white;
  }
}
.nav h2 {
  margin-top: 0;
}
.nav nav {
  margin: auto 0;
}
.nav nav a {
  border-radius: .25em;
  line-height: 2em;
  margin: .25em 1em;
  padding: .5em;
  background-color: red;
  display: inline-block;
  color: white;
  transition: color .5s, background-color .5s;
}

.nav nav a:hover {
  background-color: yellow;
  color: black;
}